.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Sample{
  background-color: skyblue;

}

h1{
  text-align: center;
  color:darkgrey;
  text-shadow:0 5px 5px black;
  width: 1010px;
  height: 150px;
  padding: 0,0,0,0;
  margin: 0%;
  vertical-align:bottom;
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIO5JBzVjl5chPX9dojw3YsEj0KkaGPOqDkA&usqp=CAU);
  justify-content: center;
}